    <footer>
        <ul class="fusszeile">
            <li>
                <a href="/impressum/impressum">
                    Impressum
                </a>
            </li>
            <li>
                <a href="/impressum/contact">
                    Kontakt
                </a>
            </li>
            <li>
                <a href="/impressum/about">
                    Über das Projekt
                </a>
            </li>
        </ul>
    </footer>