{% extends "mainapp/base.html" %}
{% load extra_filters %}
{% load bleach_tags %}


{% block title %}
{{title}}
{% endblock %}


{% block content %}

{{description|render_markdown|bleach}}

Inhalte:

<ul>
{% for link in linklist.0%}
    <li>
        <a href="{{link.0}}">
            {{link.1}}
        </a>
    </li>
{% endfor %}

{% for link in linklist.1%}
    <li>
        <a href="/md_inhalt/{{link.0}}">
            {{link.1}}
        </a>
    </li>
{% endfor %}
</ul>

{% endblock %}